.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 0%;
    vertical-align: top;
    outline: black 3px solid;
}


#user-query{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 1%;
}


.form-control {
    background: #E2DDD1;
    border: 1px solid #D49999;
}